<div class="blocks">
    <div class="block">
      <a href="#link">
        <div><h2 class="title"></h2></div>
        <img class="img1" src="../../../assets/viesa2.webp" alt="">
      </a>
    </div>
    <div class="block">
      <a href="#link">
        <div><h2 class="title"> </h2></div>
        <img class="img2" src="../../../assets/vigia1.webp" alt="">
      </a>
    </div>
    <div class="block">
      <a href="#link">
        <div><h2 class="title"></h2></div>
        <img class="img3" src="../../../assets/vigiagoma2.jfif" alt="">
      </a>
    </div>
    <div class="block">
      <a href="#link">
        <div><h2 class="title"> </h2></div>
        <img class="img4" src="../../../assets/aireacondicionado1.avif" alt="">
      </a>
    </div>
  </div>