<div class="container">
    <div class="wrapper-control-panel">
        <div class="control-panel">
            <ul>
                <li><app-add-product></app-add-product></li>
                <li><app-add-category></app-add-category></li>
                <li><app-manage-inventory></app-manage-inventory></li>
                <li><app-add-ticket></app-add-ticket></li>
                <li><app-email-scheduler></app-email-scheduler></li>
                <li><app-list-email-scheduler></app-list-email-scheduler></li>
            </ul>
    
        </div>
        <div class="list_users">
            <app-list-users></app-list-users>
        </div>

    </div>
    <div class="list_tickets">

        <app-list-tickets></app-list-tickets>
    </div>
</div>